<h1> List of users </h1>

<form action="/add_user">
  <label for="user_id" >Username</label>
  <input id="user_id" name="new_user" placeholder="Enter a username...">
  <button>Add user</button>
</form>
